---
layout: main
---
<article class="article-page">
    <div class="page-content">
        {% if page.img %}
        <div class="page-cover-image">
            <figure>
                <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img }} alt="{{ page.title }}">
                {% if page.fig-caption %}
                <figcaption>{{ page.fig-caption }}</figcaption>
                {% endif %}
            </figure>
        </div> <!-- End Page Cover Image -->
        {% endif %}
        <div class="wrap-content">
            <header class="header-page">
                <h1 class="page-title">{{ page.title }}</h1>
                <div class="page-date"><span>{% include german_date.html date=page.date %}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
            </header>
            {{ content | markdownify }}
            {% if page.hearthisId != 0 %}
            <iframe scrolling="no" id="hearthis_at_track_{{ page.hearthisId }}" width="100%" height="130" 
                    src="https://app.hearthis.at/embed/{{ page.hearthisId }}/transparent/?hcolor=145ba6&color=&style=2&block_size=2&block_space=0&background=0&waveform=0&cover=1&autoplay=0&css=" 
                    frameborder="0" allowtransparency allow="autoplay">
                <p>Listen to <a href="https://hearthis.at/030bootycall" target="_blank">{{ page.title }}</a></p>
            </iframe>
            {% endif %}
            <div class="page-footer">
                <div class="page-tag">
                    {% for tag in page.tags %}
                    <a href="{{ site.baseurl }}/bootags/#{{ tag }}" class="tag">&#35; {{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="page-footer">
                {% include episode_pagination.html %}
            </div>
        </div> <!-- End Wrap Content -->
    </div> <!-- End Page Content -->
</article> <!-- End Article Page -->