---
layout: main
---
<article class="article-page">
    <div class="page-content">
        {% if page.img %}
        <div class="page-cover-image">
            <figure>
                <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img }} alt="{{ page.title }}">
                {% if page.fig-caption %}
                <figcaption>{{ page.fig-caption }}</figcaption>
                {% endif %}
            </figure>
        </div> <!-- End Page Cover Image -->
        {% endif %}
        <div class="wrap-content">
            <header class="header-page">
                <h1 class="page-title">{{ page.title }}</h1>
                <div class="page-date"><span>{% include german_date.html date=page.date %}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
            </header>
            {{ content | markdownify }}
            {% if page.spotifyId %}
            <iframe style="border-radius:12px" width="100%" height="152"
                    src="https://open.spotify.com/embed/episode/{{ page.spotifyId }}?utm_source=generator"
                    allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
            </iframe>
            {% endif %}
            <div class="page-footer">
                <div class="page-tag">
                    {% for tag in page.tags %}
                    <a href="{{ site.baseurl }}/bootags/#{{ tag }}" class="tag">&#35; {{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="page-footer">
                {% include episode_pagination.html %}
            </div>
        </div> <!-- End Wrap Content -->
    </div> <!-- End Page Content -->
</article> <!-- End Article Page -->