---
layout: default
---
<aside class="sidebar">
    <header>
        <div class="about">
            <div class="cover-author-image">
                <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/{% if site.author-img %}{{ site.author-img }}{% endif %}" alt="{{ site.author }}"></a>
            </div>
            <div class="author-name">{{ site.title }}<br>mit<br>{{ site.author }}</div>
            <p>{{ site.description }}</p>
            <ul class="tags">
                <li><a href="{{ site.baseurl }}/subscribe/" class="tag">Abonnieren</a></li>
                <li><a href="{{ site.baseurl }}/news/" class="tag">News</a></li>
                <li><a href="{{ site.baseurl }}/impressum/" class="tag">Impressum</a></li>
            </ul>
            <section class="contact"><h3 class="contact-title">Bootymerch</h3></section>
            <ul class="tags">
                <li><a href="https://www.redbubble.com/people/caramelmafia/explore?asc=u" class="tag">Shop</a></li>
            </ul>
            <section class="contact"><h3 class="contact-title">Support</h3></section>
            <ul class="tags">
                <li><a href="https://www.paypal.com/paypalme/030bootycall/0,99" class="tag">Spenden</a></li>
            </ul>
        </div>
    </header> <!-- End Header -->
    <footer>
        <section class="contact">
            <h3 class="contact-title">Bootymedia</h3>
            <ul>
                {% for item in site.social %}
                <li><a href="{{ item.link }}" target="_blank" title="{{ item.title }}"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a></li>
                {% endfor %}
            </ul>
        </section> <!-- End Section Contact -->
        <div class="copyright">
            <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
        </div>
    </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
    {{ content }}
</div>